<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PC_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PC_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PC_Application.Properties.Settings>
            <setting name="setPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="PC_Application_Cantral_Service" serializeAs="String">
                <value>http://49.248.166.126/DGFT_Central/Service.asmx</value>
            </setting>
        </PC_Application.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PC_Application.Properties.Settings>
            <setting name="strLine" serializeAs="String">
                <value />
            </setting>
            <setting name="filepath" serializeAs="String">
                <value>D:\Nirav\Serial.csv</value>
            </setting>
        </PC_Application.Properties.Settings>
    </userSettings>
</configuration>